.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}
.delete-form{
    display: inline;
}
.navbar-nav > li > a{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 2px;
}
.navbar-topmargin{
    margin-top:10px;
}
#img-height{
    height: 150px;
}